---
layout: post-index
title: Latest Posts
description: "Talking Kotlin is a podcast about Kotlin, a statically typed programming language for the JVM, Android and the browser, 100% interoperable with Java"
tags: [Kotlin, podcast, programming, Java, Android]
comments: false
image:
  feature: Talking-Kotlin-Header.png
---

{% for post in paginator.posts %}
<article class="hentry">
  <header>
    {% if post.image.feature %}
      <div class="entry-image-index">
        <a href="{{ site.url }}{{ post.url }}" title="{{ post.title }}"><img src="{{ site.url }}/images/{{ post.image.feature }}" alt="{{ post.title }}"></a>
      </div><!-- /.entry-image -->
    {% endif %}
    <div class="entry-meta">
      <span class="entry-date date published updated"><time datetime="{{ post.date | date_to_xmlschema }}"><a href="{{ site.url }}{{ post.url }}">{{ post.published | date: "%B %d, %Y" }}</a></time></span>
      {% if site.reading_time %}
      <span class="entry-reading-time">
        <i class="fa fa-clock-o"></i>
        {% include read-time-index.html %}
      </span><!-- /.entry-reading-time -->
      {% endif %}
    </div><!-- /.entry-meta -->
    {% if post.link %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}"><i class="fa fa-bookmark"></i></a> <a href="{{ post.link }}">{{ post.title }}</a></h1>
    {% else %}
      <h1 class="entry-title"><a href="{{ site.url }}{{ post.url }}" rel="bookmark" title="{{ post.title }}" itemprop="url">{{ post.title }}</a></h1>
    {% endif %}
  </header>

  <div class="entry-content">
    {% if post.image %}
    <div class="index-post-image">
      <img src="{{ site.url }}/images/episodes/{{ post.image }}" alt="{{ post.title }}">
      {% else %}
      <img src="{{ site.url }}/images/kotlin_talking_logo.png" alt="{{ post.title }}">
      {% endif %}
      {{ post.description }}
    </div>
    <p><a href="{{ site.url }}{{ post.url }}" class="permalink" rel="bookmark" title="{{ post.title }}">Listen now ({{ post.length_rounded }}) &raquo;</a></p>
    <!--<p class="footnotes">Duration: {{ post.length }}</p>-->
  </div><!-- /.entry-content -->

</article><!-- /.hentry -->
{% endfor %}

{% include pagination.html %}