/* ==========================================================================
   Page layout
   ========================================================================== */

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: $color-white;
}

/* 
   Main content
   ========================================================================== */

.entry-content {
  @include font-size(16);

  li {
    margin-bottom: 7px;
  }

  .footnotes {
    ol, li, p {
      @include font-size(14);
    }
  }
}

/*
   Browser upgrade
   ========================================================================== */

.upgrade {
  padding: 10px;
  text-align: center;
}