/* ==========================================================================
   Site utilities
   ========================================================================== */

/* 
   Selection
   ========================================================================== */

::-moz-selection { 
	background-color: lighten($base-color, 65%); 
	color: $base-color; 
	text-shadow: none; 
}

::selection { 
	background-color: lighten($base-color, 65%); 
	color: $base-color; 
	text-shadow: none; 
}

/*
   Global transition
   ========================================================================== */

b, i, strong, em, blockquote, p, q, span, figure, img, h1, h2, header, input, a {
	transition: all 0.2s ease;
}